/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box; /* padding + border stay inside width/height */
    margin: 0;
    padding: 0;
}

button {
    font-family: "Jersey 25", sans-serif;
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: black;
    transition: 0.5s;
}

button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: 0.5s;
    cursor: pointer;
}

/* The typing effect */
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0,.75);}
  to{border-right-color: transparent;}
}

/* box anims */
@keyframes box {
    from{ 
        transform: translateX(-80px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 100;
    }
}

/* DIALOG */
dialog {
    padding: 30px 50px 30px 50px;
    border: none;
    border-radius: 10px;
    background: white;
    /* Center it */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

dialog::backdrop {
    background: rgba(255, 255, 255, 0.1); /* faint translucent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* BODY */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Jersey 25", sans-serif;
}

/* GAME BOARD */
.board {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 150px);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
}

.box {
    font-family: sans-serif;
    font-weight: bolder;
    opacity: 0;
    outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

/* RESULTS DISPLAY  */

.results {
    margin-top: 20px;
    text-align: center;
    height: 10px;
    padding: 30px;
}

.winMsg {
    margin: 0;
    font-size: 30px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typewriter 1s steps(20) 0s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
}