/* GAME BOARD */
.board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 200px);
    outline: 4px solid black;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
}

.box {
    outline: 2px solid black;
}